
<div>
  <h1>Select your pizza and toppings</h1>
  <div>
    <table class="pizza-app-order">
      <tr>
        <th rowspan="2">Toppings</th>
        <th colspan="4">Pizza Size</th>
      </tr>
      <tr>
        <th>Small ($5)</th>
        <th>Medium ($7)</th>
        <th>Large ($8)</th>
        <th>Extra Large ($9)</th>
      </tr>
      <tr>
        <td colspan="5">Veg Toppings</td>
      </tr>
      <tr *ngFor="let veg of vegToppings">
        <td>{{veg.name}}</td>
        <td class="center" (click)="veg.small = !veg.small;calculateTotal(veg,'small')">
          <img src="../assets/images/checked.png" *ngIf="veg.small"/>
        </td>
        <td class="center" (click)="veg.medium = !veg.medium;calculateTotal(veg,'medium')">
          <img src="../assets/images/checked.png" *ngIf="veg.medium"/>
        </td>
        <td class="center" (click)="veg.large = !veg.large;calculateTotal(veg,'large')">
          <img src="../assets/images/checked.png" *ngIf="veg.large"/>
        </td>
        <td class="center" (click)="veg.extraLarge = !veg.extraLarge;calculateTotal(veg,'extraLarge')">
          <img src="../assets/images/checked.png" *ngIf="veg.extraLarge"/>
        </td>
      </tr>
      <tr>
        <td colspan="5">NonVeg Toppings</td>
      </tr>
      <tr *ngFor="let nonVeg of nonVegToppings">
        <td>{{nonVeg.name}}</td>
        <td class="center" (click)="nonVeg.small = !nonVeg.small;calculateTotal(nonVeg,'small')">
          <img src="../assets/images/checked.png" *ngIf="nonVeg.small"/>
        </td>
        <td class="center" (click)="nonVeg.medium = !nonVeg.medium;calculateTotal(nonVeg,'medium')">
          <img src="../assets/images/checked.png" *ngIf="nonVeg.medium"/>
        </td>
        <td class="center" (click)="nonVeg.large = !nonVeg.large;calculateTotal(nonVeg,'large')">
          <img src="../assets/images/checked.png" *ngIf="nonVeg.large"/>
        </td>
        <td class="center" (click)="nonVeg.extraLarge = !nonVeg.extraLarge;calculateTotal(nonVeg,'extraLarge')">
          <img src="../assets/images/checked.png" *ngIf="nonVeg.extraLarge"/>
        </td>
      </tr>
      <tr>
        <td colspan="5">Total</td>
      </tr>
      <tr class="total-section">
        <td>Offer</td>
        <td></td>
        <td>
          <span *ngIf="promotions.medium.applied">Offer 1</span>
        </td>
        <td>
          <span *ngIf="promotions.large.applied">Offer 3</span>
        </td>
        <td></td>
      </tr>
      <tr class="total-section">
        <td></td>
        <td>{{total.small === 0 ? '' : total.small}}</td>
        <td>
          <span [ngClass]="{'strike-through': promotions.medium.applied === true}">
            {{total.medium  === 0 ? '' : total.medium}}
          </span><br/>
          <span *ngIf="promotions.medium.applied">{{promotions.medium.total}}</span>
        </td>
        <td>
          <span [ngClass]="{'strike-through': promotions.large.applied === true}">
            {{total.large  === 0 ? '' : total.large}}
          </span><br/>
          <span *ngIf="promotions.large.applied">{{promotions.large.total}}</span>
        </td>
        <td>{{total.extraLarge  === 0 ? '' : total.extraLarge}}</td>
      </tr>
    </table>
  </div>
</div>